<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text=${title}></title>
</head>

<body>
	<h1 th:text="${title}"></h1>
	<table border="1">
		<tr>
			<th th:text="${idh}"></th>
			<th th:text="${nameh}"></th>
			<th th:text="${emailh}"></th>
		</tr>
		<tr>
			<td th:text="${id1}"></td>
			<td th:text="${name1}"></td>
			<td th:text="${email1}"></td>
		</tr>
		<tr>
			<td th:text="${id2}"></td>
			<td th:text="${name2}"></td>
			<td th:text="${email2}"></td>
		</tr>
		<tr>
			<td th:text="${id3}"></td>
			<td th:text="${name3}"></td>
			<td th:text="${email3}"></td>
		</tr>
	</table>

</body>

</html>